<nav class="m-auto w-full bg-slate-700">
  <div class="w-[80%] m-auto p-2 flex align-middle">
    <a class="nav-link" [routerLink]="['/']">
      <img
        class="w-[55px] border border-transparent rounded-3xl"
        src="../../../favicon.ico"
        alt="Mayor"
      />
    </a>
    <a class="nav-link" [routerLink]="['/about']">About</a>
    <a class="nav-link" [routerLink]="['/posts']">Posts</a>
    <a class="nav-link phone:ml-auto" [routerLink]="['/contact']">Contact</a>
  </div>
</nav>
